# Auto detect text files and perform LF normalization
* text=auto

# Force these files to lf eols
.gitattributes text eol=lf
.gitignore text eol=lf
*.go text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.lock text eol=lf

Dockerfile text eol=lf
